{% extends "AppCoder/padre.html" %}


{% block contenidoQueCambia %}

 <div class="text-center text-black">
    <h1 class="mb-5"> <p>  </p>
                      <p>Sobre mi:</p></h1>
                      <img src="https://media.licdn.com/dms/image/D4D03AQEpi7voLZIZNw/profile-displayphoto-shrink_800_800/0/1682111372200?e=1707955200&v=beta&t=qw9h7W9RVhvMCQHpKUz0VfKpCXGuGfP8ygH7ApsqMd4" 
                           alt="Lenguajes de Programación" style="max-width: 10%; height: auto;">     
   <h1 class="navbar-brand">  <br>  
                              <p> Soy Carlos Andres Golan, un entusiata aprediz de nuevas tecnologias. </p>
                              <p> bla... </p></h1>
                              <p> bla... bla... </p></h1>
                              <p> bla... bla... bla... </p></h1>
                              <p> ------------------------------------------------------------------------------------- </p></h1>
                              <p> ------------------------------------------------------------------------------------- </p></h1>

    </div>
{% endblock %}